NEXT_PUBLIC_STACKS_NETWORK=mainnet
NEXT_PUBLIC_BITDAP_CONTRACT=SPXXXX.bitdap
NEXT_PUBLIC_BITDAP_TOKEN_CONTRACT=SPXXXX.bitdap-token
NEXT_PUBLIC_HIRO_EXPLORER_BASE=https://explorer.hiro.so
NEXT_PUBLIC_HIRO_API_BASE=https://api.hiro.so

